// Hex colors
$text: #686b72;
$primaryBg: #f2f2f2;
$primaryBorder: #d3d3d3;
$accent: #7f873f;
$secondaryAccent: #4c5438;
$fontHeader: 'nimbus-sans-condensed', 'Helvetica', sans-serif;
$fontBody: 'proxima-nova', 'Helvetica', sans-serif;

// Mixins
@mixin default-transition() {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

@mixin bg-image($filename) {
	background: url('../images/#{$filename}') no-repeat;
}

// General styles
body {
	background-color: $primaryBg;
	color: $text;
	overflow-x: hidden;
}

span {
	display: inline-block;
}

a {
	@include default-transition;
	color: $accent;
	text-decoration: none;
	
	&:hover {
		color: $secondaryAccent;
		text-decoration: underline;
	}
}

main, .container {
	margin: auto;
	padding: 35px;
	max-width: 960px;
}

h1 {
	font-family: $fontHeader;
	font-size: 32px;
	line-height: 37px;
	color: #000;
	margin: 0 0 10px 0;
}

body, h3 {
	font-family: $fontBody;
	font-size: 16px;
	line-height: 20px;
}

h3 {
	color: #000;
	margin: 6px 0;
}

input[type="submit"] {
	@include default-transition;
	font-family: $fontHeader;
	font-size: 18px;
	line-height: 20px;
	background-color: $accent;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 15px;
	text-transform: uppercase;
	
	&:hover {
		background-color: $secondaryAccent;
	}
}

input::-webkit-input-placeholder {
	color: $text;
}
input:-moz-placeholder {
	color: $text;
}
input::-moz-placeholder {
	color: $text;
}
input:-ms-input-placeholder {
	color: $text;
}

// Header
header {
	@include bg-image('big-ears-festival-2016-header.jpg');
	background-size: cover;
	text-align: center;
	max-height: 350px;
	
	.logo {
		float: left;
	}
	
	.slider {
		float: right;
		text-align: left;
		padding-left: 24px;
		margin-left: 24px;
		border-left: 1px solid #fff;
		
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}
		
		span {
			@include default-transition;
			width: 29px;
			height: 29px;
			padding: 0 3px;
			
			&:hover {
				cursor: pointer;
			}
			
			&.arrow-left {
				@include bg-image('slider-arrow-left.png');
				
				&:hover {
					@include bg-image('slider-arrow-left-hover.png');
				}	
			}
			
			&.arrow-right {
				@include bg-image('slider-arrow-right.png');
				
				&:hover {
					@include bg-image('slider-arrow-right-hover.png');
				}
			}
		}
	}
	
	nav {
		clear: both;
		display: inline-block;
		position: relative;
		margin-top: 35px;
		padding: 30px 50px;
		text-align: center;
		background: url('../images/gradient-repeater.jpg') repeat-x;
		-webkit-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		
		a {
			@include default-transition;
			display: inline-block;
			width: 320px;
			height: 82px;
			
			&.tickets {
				@include bg-image('buy-2016-pre-sale-tickets.png');
				padding-right: 30px;
				
				&:hover {
					@include bg-image('buy-2016-pre-sale-tickets-hover.png');
				}
			}
			
			&.last-year {
				@include bg-image('see-last-years-event.png');
				
				&:hover {
					@include bg-image('see-last-years-event-hover.png');
				}
			}
		}
		
		span {
			position: absolute;
			width: 170px;
			height: 130px;
			
			&.bird-left {
				@include bg-image('big-ears-bird-left.png');
				top: -15px;
				left: -110px;
			}
			
			&.bird-right {
				@include bg-image('big-ears-bird-right.png');
				top: 0;
				right: -120px;
			}
		}
	}
}

// Body
main {
	margin-top: 45px;
	overflow: hidden;
	
	.news-feed {
		float: left;
		width: 38%;
		
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
			
			h3 {
				line-height: 16px;
			}
			
			p {
				margin: 0 0 15px 0;
			}
			
			li {
				margin-bottom: 15px;
				border-bottom: 1px solid $primaryBorder;
			}
		}
	}
	
	.video {
		float: right;
		
		iframe {
			width: 545px; 
			height: 300px;
		}
	}
}

// Footer
footer {
	@include bg-image('big-ears-splash-footer.jpg');
	background-size: cover;
	clear: both;
	
	.container {
		overflow: hidden;
		padding: 25px 35px;
	}
	
	.footer-text, .social-icons {
		width: 27.5%;
		float: left;
	}
	
	.footer-text {
		h1 {
			margin-bottom: 0;
			text-align: center;
			line-height: normal;
		}
	}
	
	.email-form {
		float: left;
		width: 45%;
		
		form {
			position: relative;
			
			input {
				float: left;
			}
			
			input[type="email"] {
				width: 70%;
				background-color: $primaryBg;
				border: 1px solid #fff;
				padding: 10px 15px;
			}
			
			label {
				position: absolute;
				left: 15px;
				top: 45px;
				color: $secondaryAccent;
			}
		}
	}
	
	.social-icons {
		text-align: center;
		
		a {
			padding: 5px;	
		}
		a, span {
			display: inline-block;
			width: 35px;
			height: 35px;
		}
		span {
			@include default-transition;
			
			&.facebook {
				@include bg-image('big-ears-facebook@2x.png');
				background-size: contain;
				&:hover {
					@include bg-image('big-ears-facebook-hover@2x.png');
					background-size: contain;
				}
			}
			
			&.twitter {
				@include bg-image('big-ears-twitter@2x.png');
				background-size: contain;
				&:hover {
					@include bg-image('big-ears-twitter-hover@2x.png');
					background-size: contain;
				}
			}
			
			&.instagram {
				@include bg-image('big-ears-instagram@2x.png');
				background-size: contain;
				&:hover {
					@include bg-image('big-ears-instagram-hover@2x.png');
					background-size: contain;
				}
			}
		}
	}	
}

// Responsive styles

@media screen and (max-width: 1060px) {
	header {
		background-size: contain;
	}
}

@media screen and (max-width: 985px) {
	header {
		background-size: cover;
		
		.logo {
			max-width: 55%;
		}
	}
}

@media screen and (max-width: 964px) {
	main {
		.video {
			iframe {
				width: 409px; 
				height: 225px;
			}
		}
	}
	
	footer {	
		.email-form {
			form {
				input[type="email"] {
					width: 60%;
				}	
			}
		}
	}
}

@media screen and (max-width: 859px) {
	 .container {
		 padding-bottom: 0;
	 }
	header {
		max-height: none;
		background-size: contain;
		
		.slider {
			margin-bottom: 24px;
		}
		
		nav {
			display: block;
			margin: 0 -35px;
			background: $primaryBg;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			
			a {
				display: block;
				margin: auto;

				&.tickets {
					padding-right: 0;
					padding-bottom: 32px;
				}
			}
			
			span {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 836px) {
	header {
		background-size: cover;

		.logo, .slider {
			float: none;
			text-align: center;
		}
		
		.slider {
			padding-left: 0;
			margin-left: 0;
			border-left: none;
		}	
	}
	
	main {
		margin-top: 0;
		padding: 0 35px;
		
		.news-feed {
			float: none;
			width: auto;
			margin-bottom: 24px;
		}
		
		.video {
			float: none;
			text-align: center;
			margin-bottom: 24px;
			
			iframe {
				width: 545px; 
				height: 300px;
			}
		}
	}
	
	footer {	
		.footer-text, .social-icons {
			width: auto;
			float: none;
		}
				
		.email-form {
			float: none;
			width: auto;
		}	
	}
}