// Global styles
$text: #686b72;
$primaryBg: #f2f2f2;
$primaryBorder: #d3d3d3;
$accent: #7f873f;
$secondaryAccent: #4c5438;

// Mixins
@mixin default-transition() {
	-webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin bg-image($filename) {
	background: url('../images/#{$filename}') no-repeat;
}

// General styles
body {
	background-color: $primaryBg;
}

span {
	display: inline-block;
}

.container, main {
	margin: auto;
	padding: 35px;
	max-width: 960px;
}

h1 {
	font-family: 'nimbus-sans-condensed', 'Helvetica', sans-serif;
	font-size: 32px;
	line-height: 37px;
	color: #000;
	margin-bottom: 10px;
}

h3 {
	font-family: 'proxima-nova-bold', sans-serif;
}

// Header
header {
	@include bg-image('big-ears-festival-2016-header.jpg');
	background-size: cover;
	text-align: center;
	max-height: 350px;
	
	.logo {
		float: left;
	}
	
	.slider {
		float: right;
		text-align: left;
		padding-left: 24px;
		margin-left: 24px;
		border-left: 1px solid #fff;
		
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}
		
		span {
			@include default-transition;
			width: 29px;
			height: 29px;
			padding: 0 3px;
			
			&:hover {
				cursor: pointer;
			}
			
			&.arrow-left {
				@include bg-image('slider-arrow-left.png');
				
				&:hover {
					@include bg-image('slider-arrow-left-hover.png');
				}	
			}
			
			&.arrow-right {
				@include bg-image('slider-arrow-right.png');
				
				&:hover {
					@include bg-image('slider-arrow-right-hover.png');
				}
			}
		}
	}
	
	nav {
		clear: both;
		display: inline-block;
		position: relative;
		margin-top: 35px;
		padding: 30px 50px;
		text-align: center;
		background: url('../images/gradient-repeater.jpg') repeat-x;
		-webkit-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
		
		a {
			@include default-transition;
			display: inline-block;
			width: 320px;
			height: 82px;
			
			&.tickets {
				@include bg-image('buy-2016-pre-sale-tickets.png');
				padding-right: 30px;
				
				&:hover {
					@include bg-image('buy-2016-pre-sale-tickets-hover.png');
				}
			}
			
			&.last-year {
				@include bg-image('see-last-years-event.png');
				
				&:hover {
					@include bg-image('see-last-years-event-hover.png');
				}
			}
		}
		
		span {
			position: absolute;
			width: 170px;
			height: 130px;
			
			&.bird-left {
				@include bg-image('big-ears-bird-left.png');
				top: -15px;
				left: -110px;
			}
			
			&.bird-right {
				@include bg-image('big-ears-bird-right.png');
				top: 0;
				right: -120px;
			}
		}
	}
}

// Body
main {
	margin-top: 35px;
}
