// Global styles
$text: #686b72;
$primaryBg: #f2f2f2;
$primaryBorder: #d3d3d3;
$accent: #7f873f;
$secondaryAccent: #4c5438;

header {
	background: url('../images/big-ears-festival-2016-header.jpg') no-repeat;
	background-size: cover;
}

.container {
	margin: auto;
	padding: 35px;
	max-width: 960px;
}
